.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 10;
  position: fixed;
  font: inherit;
  top: 0;
  background: white;
  width: 100%;
}
.mat-toolbar img {
  cursor: pointer;
}

.header-links {
  margin-right: 1.5rem;
}

.mat-raised-button {
  font-size: 20px;
}

.mat-toolbar h1 {
  font-size: 32px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 15px;
  margin: 0 0.3rem;
  border-radius: 6px;
  border-width: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
}

.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.1s;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
.btn-10:hover {
  color: #fff;
}
.btn-10:hover:after {
  background: #000;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.active {
  color: #fff;
  background: #000;
}

.btn-15 {
  background: #000;
  color: #fff;

  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #000;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

.mat-progress-bar {
  z-index: 10;
}

.mat-button,
.burger {
  display: none;
}

// burger

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  display: flex;
  position: fixed;
  top: 30px;
  right: 20px;
  width: 26px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

//Media queries

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 960px) {
  .mat-button,
  .burger,
  .hamburger-menu {
    display: block;
  }

  .navigate-btn-wrapper,
  .logoutBtn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 599px) {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 64px;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 350px) {
  .mat-toolbar {
    padding: 0 12px;
  }
}
