<div class="wrapper">
  <div class="modal-wrapper" (click)="modalService.close()"></div>
  <form [formGroup]="orderForm" class="form-wrapper">
    <div class="header-modal-wrapper">
      <p>Your order is {{ randomOrderNumber }}</p>
      <button class="close-modal" (click)="modalService.close()">Х</button>
    </div>
    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="userName"
        type="text"
        placeholder="Name"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="userLastName"
        type="text"
        placeholder="Last Name"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="userPhone"
        type="phone"
        placeholder="Phone"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="userAddress"
        type="text"
        placeholder="Address"
      />
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Payment upon receipt</mat-radio-button>
      <mat-radio-button value="2" #payRadio>Pay now</mat-radio-button>
      <mat-form-field *ngIf="payRadio.checked" class="example-full-width">
        <input
          matInput
          formControlName="userCard"
          type="text"
          placeholder="Card"
        />
      </mat-form-field>
    </mat-radio-group>
    <div class="order">
      <button mat-raised-button (click)="buy()" [disabled]="orderForm.invalid">
        Buy
      </button>
      <p>Total {{ total | currency }}</p>
    </div>
  </form>
</div>
