<mat-progress-bar
  *ngIf="progressBar"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>
<div class="wrapper" *ngIf="product | async as product">
  <div class="img-wrapper">
    <img src="{{ product.image }}" class="product-img" alt="product image" />
    <span class="bold">Rate: {{ product.rating.rate }}</span>
  </div>
  <div class="product-info-wrapper">
    <div>
      <h1>{{ product.title }}</h1>
      <p>
        <span class="check-mark bold">✓</span> in stock {{ product.rating.count }} pieces
      </p>
      <span class="bold"> Category:</span> {{ product.category | titlecase }}
    </div>
    <div>
      <span class="bold"> Description:</span> {{ product.description }}
    </div>
    <div>
      <span class="bold">Price: {{ product.price * counter | currency }}</span>
      <div class="buy-wrapper">
        <button
          mat-raised-button
          class="buy-btn"
          *ngIf="!itemInCart(product)"
          (click)="addToCart(product)"
        >
          Buy
        </button>
        <button
          mat-raised-button
          class="buy-btn"
          *ngIf="itemInCart(product)"
          disabled
        >
          <img src="assets/imgs/check-mark.png" class="check-mark-img" alt="Check Mark"/>
          In cart
        </button>
      </div>
    </div>
  </div>
</div>
